/bootstrap
/config
/node_modules
/public
/storage
/tests
/vendor
/.git
artisan
composer.json
composer.lock
package.json
package-lock.json
phpunit.xml
README.md
server.php
webpack.mix.js 
.editorconfig
.env
.env.example
.gitattributes
.styleci.yml